DB_HOST="localhost"
DB_PORT=3306
DB_USERNAME="root"
DB_PASSWORD=""
DB_NAME="gamenest"
DB_SYNC=true
JWT_SECRET_KEY=''
REDIS_URL = 'redis://:YOUR_PASSWORD@YOUR_ENDPOINT:YOUR_PORT'
REDIS_USERNAME = 'default'
REDIS_PASSWORD = ''

