<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My friends</title>
  </head>
  <body>
    <header>
      <button id="toMain">메인 화면</button>
    </header>
    <div id="friends"></div>
    <div id="btns">
      <button id="sendFriend">친구 추가</button>
      <button id="receiveFriend">친구 요청 조회</button>
      <button id="toProfile">내 프로필</button>
      <button id="toDM">DM</button>
    </div>
  </body>
  <script src="/findFriends.js"></script>
  <script src="http://code.jquery.com/jquery-3.6.1.slim.js"></script>
</html>