<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friend Requests</title>
  </head>
  <body>
    <div id="upBtns">
      <button id="toMain">메인 페이지</button>
      <button id="toProfile">프로필</button>
      <button id="toFriends">친구창</button>
    </div>
    <div id="requests"></div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.js"></script>
  <script src="/friendRequest.js"></script>
</html>