<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamenest</title>
    <link rel='stylesheet' href='/main.css' />
  </head>
  <body>
    <header><h1>Gamenest</h1></header>

    <main>
<<<<<<< HEAD
      <div id='sign-up'><button>회원가입</button></div>
      <div id='login'><button>로그인</button></div>
      <div id='logout'><button>로그아웃</button></div>
      <div id='channel'><button>겜챗</button></div>
      <div id='profile'><button>프로필</button></div>
      <div id='dm'><button>친구와 채팅</button></div>
      <div id='post'><button>커뮤니티</button></div>
    </main>

=======
      <div id="sign-up"><button>회원가입</button></div>
      <div id="login"><button>로그인</button></div>
      <div id="logout"><button>로그아웃</button></div>
      <div id="channel"><button>게임 채널</button></div>
      <div id="profile"><button>프로필</button></div>
      <div id="dm"><button>친구와 채팅</button></div>
>>>>>>> 7653d7848af3cfe4a87ca05a6f66e5ef7ecf8409
    </main>
    <h1>Game List</h1>
    <ul>
      {{#each games}}
        <li>
          <a href='/game/{{this.id}}'>{{this.title}}
            <img src='{{this.screen_shot}}' alt='{{this.title}} screenshot' />
          </a>
        </li>
      {{/each}}
    </ul>
  </body>
  <script src='/mainPage.js'></script>
  <script src='/logout.js'></script>

</html>