<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamenest</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header><h1>Gamenest</h1></header>

    <main>
      <div id="sign-up"><button>회원가입</button></div>
      <div id="login"><button>로그인</button></div>
      <div id="logout"><button>로그아웃</button></div>
      <div id="channel"><button>겜챗</button></div>
      <div id="profile"><button>프로필</button></div>
      <div id="dm"><button>친구와 채팅</button></div>
      <div id="post"><button>커뮤니티</button></div>

      <div id="sorting">
        <div id="search">
          <input type="text" id="searchInput" placeholder="게임 검색..." />
          <button id="searchButton">검색</button>
        </div>
        <button id="popularButton">인기순</button>
        <button id="genreButton">장르별</button>
        <button id="newButton">신작</button>
        <div id="genreSelect" style="display: none;">
          <select id="genreDropdown">
            <option value="Adventure">어드벤처</option>
            <option value="RPG">RPG</option>
            <option value="Action">액션</option>
            <option value="Strategy">전략</option>
            <option value="Simulation">시뮬레이션</option>
            <option value="Casual">캐주얼</option>
            <option value="Indie">인디</option>
            <option value="Racing">레이싱</option>
            <option value="Sports">스포츠</option>
          </select>
          <button id="genreSubmit">선택</button>
        </div>

      </div>
    </main>

    <h1>Game List</h1>
    <ul id="gameList">
      {{#each games}}
        <li>
          <a href="/game/{{this.id}}">{{this.title}}
            <img src="{{this.screen_shot}}" alt="{{this.title}} screenshot" />
          </a>
        </li>
      {{/each}}
    </ul>
    <div id="searchResults">
      <h2>검색 결과</h2>
      <ul id="resultsList"></ul>
    </div>
  </body>
  <script src="/mainPage.js"></script>
  <script src="/logout.js"></script>
  <script src="/popularGames.js"></script>
  <script src="genreGames.js"></script>
  <script src="search.js"></script>
  <script src="newGame.js"></script>
</html>