<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Gamenest</title>
  </head>
  <body>
    <header><h1>Gamenest</h1></header>

    <main>
      <div id='sign-up'><button>회원가입</button></div>
      <div id='login'><button>로그인</button></div>
      <div id='logout'><button>로그아웃</button></div>
      <div id='channel'><button>겜챗</button></div>
      <div id='profile'><button>프로필</button></div>
      <div id='dm'><button>친구와 채팅</button></div>
    </main>

  </body>
  <script src='/mainPage.js'></script>
  <script src='/logout.js'></script>
</html>