<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 상세 페이지</title>
    <link rel="stylesheet" href="/post.css" />
  </head>
  <body>
    <div id="gopost">커뮤니티로 돌아가기</div>
    <div id="post-detail"></div>

    <div id="post-list"></div>

    <script src="/postDetail.js"></script>
  </body>
</html>