<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>게시글 상세 페이지</title>
    <link rel='stylesheet' href='post.css' />
  </head>
  <body>
    <div id='post-detail'></div>

    <script src='/postDetail.js'></script>
  </body>
</html>