<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My profile</title>
  </head>
  <body>
    <main>
      <form id="profileImage">
      </form>
      <div>
        <div id="userId">
          <p>아이디</p>
        </div>
        <div id="nickname">
          <p>닉네임</p>
        </div>
        <div id="email">
          <p>이메일</p>
        </div>
        <div id="interestGenres"></div>
        <div id="buttons">
          <button id="dmBtn">친구와 채팅</button>
          <button id="findFriends">친구 조회</button>
          <button id="registerFriend">친구 추가</button>
        </div>
      </div>
    </main>
  </body>
  <script src="/profile.js"></script>
</html>