<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My profile</title>
  </head>
  <body>
    <button id="toMain">메인 페이지</button>
    <main>
      <form id="profileImage">
      </form>
      <button id="changeImage">프로필 이미지 변경</button>
      <button id="originalImage">기본 프로필 이미지로 변경</button>
      <div id="imageWrapper">
        <form id="newImage">
          <input type="file" id="inputFile" accept="image/*" />
          <button id="fileBtn">파일 전송</button>
        </form>
      </div>

      <div>
        <div id="userId">
        </div>
        <div id="nickname">
        </div>
        <div id="email">
        </div>
        <div id="interestGenres">
          <p>좋아하는 게임 장르</p>
        </div>
        <div id="buttons">
          <button id="dmBtn">친구와 채팅</button>
          <button id="findFriends">친구 조회</button>
          <button id="registerFriend">친구 추가</button>
        </div>
      </div>
    </main>
  </body>
  <script src="/profile.js"></script>
</html>