<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Friend Request</title>
  </head>
  <body>
    <header>친구 요청 보내기</header>
    <div id="upBtns">
      <button id="toMain">메인 페이지</button>
      <button id="toFriends">친구 목록</button>
    </div>
    <div id="searchNick">
      <div id="inputNick">
        <input type="text" id="nickname" placeholder="닉네임을 입력하세요" />
        <button id="nickBtn">확인</button>
      </div>
    </div>
    <div id="results"></div>
    <div id="downBtns">
      <button id="toFriendReq">친구 요청 목록</button>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.js"></script>
  <script src="/sendFriend.js"></script>
</html>