/* 전체 페이지에 대한 기본 스타일 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}

/* 헤더 스타일 */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* 메인 컨텐츠 스타일 */
main {
  padding: 20px;
}

/* 버튼 공통 스타일 */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* 게임 목록 스타일 */
ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

ul li {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gameList {
  list-style-type: none;
}

/* 링크 기본 상태 */
a:link {
  color: black;
  text-decoration: none;
}

/* 방문한 링크 상태 */
a:visited {
  color: black;
  text-decoration: none;
}

/* 링크에 마우스를 올렸을 때 */
a:hover {
  color: red;
  text-decoration: underline;
}

/* 링크 선택 상태 (클릭 중) */
a:active {
  color: black;
  text-decoration: none;
}

/* 스크린샷 이미지 스타일 */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  width: auto;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  header,
  main {
    padding: 10px;
  }
  ul {
    grid-template-columns: repeat(2, 1fr);
  }

  button {
    padding: 5px 10px;
  }
}

#searchResults {
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

#searchResults h2 {
  color: #333;
  margin-bottom: 20px;
}

#resultsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  list-style: none;
  padding: 0;
}

#resultsList li {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  color: #007bff;
  text-decoration: none;
  margin: 0 5px;
}

.pagination span {
  margin: 0 5px;
}

#upBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

#upBtns > div {
  margin: 0 5px; /* 버튼들 사이의 간격을 설정 */
}

#upBtns button {
  padding: 10px 20px; /* 버튼의 패딩 설정 */
}

#sorting {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sorting > div {
  margin: 0 5px; /* 버튼들 사이의 간격을 설정 */
}

#sorting button {
  padding: 10px 20px; /* 버튼의 패딩 설정 */
}
